{{- partial "header.html" . }}
<div class="not-found">
    <svg id="maks" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="-50 0 1000 1000">
        <defs>
          <clippath id="clip-path">
            <circle cx="450" cy="500" r="450"></circle>
          </clippath>
          <radialgradient id="sky-gradient" cx="565" cy="533" r="491.15" gradientunits="userSpaceOnUse">
            <stop class="sky-bright" offset="0"></stop>
            <stop class="sky-dark" offset="1"></stop>
          </radialgradient>
          <lineargradient id="mountain-gradient" x1="353" y1="735.58" x2="353" y2="468.49" gradientunits="userSpaceOnUse">
            <stop class="mountain-bright" offset="0"></stop>
            <stop class="mountain-dark" offset="1"></stop>
          </lineargradient>
          <lineargradient id="hill1-gradient" x1="498" y1="827.07" x2="498" y2="537.27" gradientunits="userSpaceOnUse">
            <stop class="hills-bright" offset="0"></stop>
            <stop class="hills-dark" offset="1"></stop>
          </lineargradient>
          <lineargradient id="hill2-gradient" x1="308" y1="1064.12" x2="308" y2="733.42" gradientunits="userSpaceOnUse">
            <stop class="hills2-bright" offset="0"></stop>
            <stop class="hills2-dark" offset="1"></stop>
          </lineargradient>
        </defs>
        <g class="cls-3" clip-path="url(#clip-path)">
          <rect class="sky" id="sky" width="1000" height="1000"></rect>
          <g id="mountains">
            <path class="mountains" d="M231 349l65 81 48-41 71 69 115-60 178 120v334L0 846l-2-300 233-197"></path>
            <path class="peaks" d="M173 398l22 36 38-30 39-3-41-52-58 49m135 22l28 24 40-24-32-31-36 31m185-2l32 26 46-19-41-27-37 20"></path>
          </g>
          <g id="hills">
            <path class="hills" d="M998,1017H-2s0-277,0-375c84-48,211-79,355-79h47c74-40,176-64,289-64s309,75,309,75Z"></path>
            <ellipse class="hill" cx="308" cy="986" rx="478" ry="295"> </ellipse>
          </g>
          <g id="particles">
            <g class="particle-conntainer">
              <circle class="particle" r="7.984666850241745" cx="0" cy="850"></circle>
            </g>
            <g class="particle-conntainer">
              <circle class="particle" r="9.883601541118729" cx="0" cy="800"></circle>
            </g>
            <g class="particle-conntainer">
              <circle class="particle" r="7.907435274742739" cx="0" cy="750"></circle>
            </g>
            <g class="particle-conntainer">
              <circle class="particle" r="6.001709321569121" cx="0" cy="700"></circle>
            </g>
            <g class="particle-conntainer">
              <circle class="particle" r="6.1155674572402905" cx="0" cy="650"></circle>
            </g>
            <g class="particle-conntainer">
              <circle class="particle" r="7.250631734342019" cx="0" cy="600"></circle>
            </g>
            <g class="particle-conntainer">
              <circle class="particle" r="7.225861092596471" cx="0" cy="550"></circle>
            </g>
            <g class="particle-conntainer">
              <circle class="particle" r="7.867805697254186" cx="0" cy="500"></circle>
            </g>
            <g class="particle-conntainer">
              <circle class="particle" r="7.91618613159983" cx="0" cy="450"></circle>
            </g>
            <g class="particle-conntainer">
              <circle class="particle" r="7.3894712277676025" cx="0" cy="400"></circle>
            </g>
          </g>
          <g id="tree">
            <path class="tree" d="M971,336c-46,23-111,66-160,143a385,385,0,0,0-22,41q-4-105-7-209-2-68-2-135c0-23,0-45,0-68s0-45,1-68H707q1,34,1,68c0,23,0,45,0,68s0,34-1,50a327,327,0,0,1-97-17c-17-6-20-9-22-10-28-23-27-88,2-157L564,31c-36,84-33,159,6,191,4,4,11,8,30,14a356,356,0,0,0,106,19q-1,28-1,56-3,105-7,209l-2-2a208,208,0,0,0-40-36,204,204,0,0,0-48-24l-16-5-4-5-9-15a115,115,0,0,1-7-16l-2-9V387c0-1,0-3,0-4a118,118,0,0,1,1-18,123,123,0,0,1,11-34,124,124,0,0,0-13,34,121,121,0,0,0-3,18c0,2,0,3,0,5v23l2,9a122,122,0,0,0,6,18l6,13-21-5c-17-4-33-8-48-14a144,144,0,0,1-42-25l-9-9-8-9a167,167,0,0,1-14-21,191,191,0,0,1-11-23,252,252,0,0,1-9-24,253,253,0,0,0,7,25,194,194,0,0,0,10,24,171,171,0,0,0,13,22l8,10,9,10a154,154,0,0,0,43,30c16,8,32,13,49,18s32,10,47,16a178,178,0,0,1,75,59,201,201,0,0,1,20,32v15q-6,135-15,270-5,68-10,135c-2,23-4,45-6,68s-4,45-7,68H829q-4-34-7-68c-2-23-4-45-6-68q-6-68-10-135-9-127-15-255a357,357,0,0,1,44-102c45-71,105-112,148-133Z"></path>
            <path class="bark" d="M703 370l40 12-40 9m2-99l46 12-46 8m2-162l25 6-25 5m-8 315l40 12-40 9m-7 140l59 12-60 9m-8 132l61 12-63 9m119-62l-56-11 55-8m-13-278l-42-8 41-6m-3-93l-28-3 28-3m-3-126l-25-8 25-4"></path>
          </g>
        </g>
      </svg>
      <div class="title">spring</div>
</div>
{{- partial "footer.html" . }}
